body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--first-white);
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --first-white: #FFFFFF;
  --first-black: #000000;
  --background-color-one: #F5F4FA;
  --background-color-two: #2F303A;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  border: 1px solid transparent;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms, visibility 450ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 90vw;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  min-height: 581px;
  background-color: var(--first-white);
  border-radius: 4px;
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-textarea {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms;
}

.form-input:hover, .form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  transition: border-color 250ms;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-text:hover, .form-text:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-black);
  border-radius: 2px;
  margin-right: 8px;
}

.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
}

.checkbox-link {
  color: var(--accent-color);
  margin-right: 4px;
}

.submit-wrap {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  color: var(--first-white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188CE8;
}

.modal-close {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--first-white);
  box-sizing: border-box;
  border-radius: 50%;
}

.modal-close:hover {
  fill: var(--accent-color);
  transition: fill 250ms;
}

.header__logo {
  display: block;
  padding-bottom: 24px;
  margin-right: 93px;
  width: 145px;
  height: 31px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

.address__link {
  display: flex;
  fill: var(--primary-text-color);
}

.address__link:hover, .address__link:focus {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope {
  margin-right: 10px;
}

.icon-envelope:hover, .icon-envelope:focus {
  fill: var(--accent-color);
}

.icon-smartphone {
  margin-right: 10px;
}

.logo {
  color: var(--first-black);
  text-decoration: none;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
}

.header__main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.site-nav {
  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .address__item + .address__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.info {
  min-width: 147px;
}

.address__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-right: 15px;
  padding-left: 25px;
  transition: left 450ms, visibility 450ms;
}

.mobile-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-hidden {
  left: 100%;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu .mob-current {
  color: var(--accent-color);
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.address-mob__item-tel {
  margin-bottom: 32px;
}

.address-mob__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.address-mob__item-email {
  margin-bottom: 64px;
}

.address-mob__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob__social-list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.mob__social-item:not(:last-child) {
  margin-right: 10px;
}

.mob__social-item + .mob__social-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.icon-menu:hover, .icon-menu:focus {
  fill: var(--accent-color);
}

.menu-close-btn {
  display: block;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

.hero {
  background-color: var(--background-color-two);
  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desc-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desc-2x.jpg);
  }
}

.hero__title {
  color: var(--first-white);
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  color: var(--first-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.features__title {
  text-align: center;
  color: var(--title-text-color);
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__article {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin: 0;
}

.features__quality-img {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features__quality-img {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .features__quality-img {
    width: 270px;
    height: 120px;
  }
}

.features__quality:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}

.features__quality:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}

.features__quality:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}

.section__work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__work {
    display: flex;
    padding-bottom: 94px;
  }
}

.work__title {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.section__work .work__item + .work__item {
  margin-left: 30px;
}

.work__employment {
  display: flex;
}

.work__employment-wrap {
  position: relative;
  overflow: hidden;
}

.work__employment-title {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  color: var(--first-white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
}

.team__section {
  background-color: var(--background-color-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__card {
  padding-bottom: 30px;
  border: 1px solid #EEEEEE;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33/28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
  margin-bottom: 16px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__social {
  display: flex;
  justify-content: center;
}

.team__social > .soc-item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
}

.social__link:hover, .social__link:focus {
  fill: var(--first-white);
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
  color: var(--title-text-color);
  list-style: none;
}

.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client__link {
  display: flex;
  height: 92px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  fill: #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.clients__list .client__item + .client__item {
  margin-left: 30px;
}

.client__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(100% / 6 - 30px);
  }
}

.footer__color {
  background-color: var(--background-color-two);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .footer__address {
    display: block;
    min-width: 231px;
  }
}

.color-footer {
  color: var(--first-white);
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__address-nav .footer__item + .footer__item {
  margin-top: 9px;
}

.footer__address-nav a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer__address-nav a:hover, .footer__address-nav a:focus {
  color: var(--first-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-nav .direction {
  color: var(--first-white);
  margin: 0;
  padding: 0;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.join__social {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join__social {
    margin-left: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.join__article {
  text-transform: uppercase;
  color: var(--first-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0;
}

.join__links {
  display: flex;
  justify-content: center;
}

.join__links > .join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__img {
  background-repeat: no-repeat;
}

.footer__subscribe {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 93px;
    text-align: left;
  }
}

.subscribe__article {
  text-transform: uppercase;
  color: var(--first-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0;
}

.subscribe__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 12px;
  transition: border-color 250ms;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 28px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  color: var(--first-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  cursor: pointer;
}

.subscribe__icon-send {
  margin-left: 10px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  justify-content: start;
  list-style: none;
  flex-wrap: wrap;
  /* height: 54px; */
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter .item + .item {
  margin-left: 8px;
}

.filter .item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter .item {
    margin-bottom: 0;
  }
}

.filter-buttons {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-buttons {
    margin-bottom: 0;
  }
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--background-color-one);
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.filter-button:hover, .filter-button:focus {
  color: var(--first-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-cards .item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-cards .item.item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-cards .item {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-cards .item.item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.cards {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.description {
  width: 100%;
  border: solid 1px #EEEEEE;
  border-top: 0;
  box-sizing: border-box;
}

.description:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    width: 370px;
  }
}

.cards-hover:hover .cards-img-text {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item-wrap {
  position: relative;
  overflow: hidden;
}

.cards-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--first-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 64px 24px 64px 24px;
  margin: 0;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
  margin-top: 0;
  padding-left: 24px;
  padding-top: 20px;
}

.cards-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 24px;
}
/*# sourceMappingURL=main.css.map */